.Boxcolor{
    width:100px;
    height:100px;    
    background-color: #C00C00;
}

.packetBox{
    // width:100px;
    // height:100px;
    border-width:thin;
    border-color: black;
    margin:5px;
    float:left;
    background-color:antiquewhite;
}

.labelColor{
    margin:5px;
    font-size: 10pt;
}